	@import url("https://fonts.googleapis.com/css?family=Anton|Damion|Julius+Sans+One|Montserrat");

	@import url("components/container.css");
	@import url("components/vert.css");
	@import url("components/gris.css");
	@import url("components/saumon.css");
	@import url("components/poulet.css");
	@import url("components/nature.css");
	@import url("components/bouton.css");
	@import url("components/banner.css");
	@import url("components/menus.css");

	body {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		margin: 0;
		text-align: justify-all;
	}

	h1 {
		font-family: 'Anton', sans-serif;
		font-size: 30px;
	}

	h2 {

		font-family: 'Julius Sans One', sans-serif;
		font-size: 25px;
		text-align: center;
		font-weight: bold;
		margin-top:60px;
	}

	h3 {

		font-family: 'Damion', cursive;
		font-size: 25px;
	}

	a {
		text-decoration: none;
	}


	a, li {
		text-decoration: none;
		color : #61a948;
	}

	ul{
		padding:0px;
	}

	.list-without-bullet-point {
		font-family: 'Julius Sans One', sans-serif;
		list-style-type: none;
		text-align: center;

	}

	.list-without-bullet-point li {

		display: inline;
		margin: 35px;
	}

	.halal {

		text-align: center;
		font-weight: bold;

	}

	.list-without-bullet-point-2 {
		font-family: 'Julius Sans One', sans-serif;
		list-style-type: none;
		text-align: center;
		font-size: 60px;

	}

	.list-without-bullet-point-2 li {

		display: inline;
		margin: 15px;
	}

	#image-center{
		margin:0 auto;
		text-align:center;
	}

	#image-center-2 {
		margin:0 auto;
		text-align:center;
		z-index: 4
	}

	#onglet a:hover {
		color: #FFB500;
	}

	#suivez a:hover{
		color: #FFB500;
	}

	#commande {
		margin-top: -65px;
		z-index: 1
	}